.card {
    max-width: 345px
}

.cardMediaDiv {
    position: relative;
    padding: 7px 7px 7px 7px;
}

.cardMedia {
    display: flex;
    height: 140px;
}

.cardActionLeft {
    position: absolute;
    top: 0;
    left: 20%;
    transform: translateX(-50%);
}

.cardActionRight {
    position: absolute;
    top: 0;
    left: 93%;
    transform: translateX(-50%);
}

.actionFeatured {
    height: 18px !important;
    background-color: #ffd200 !important;
    font-size: 10px !important;
}

.actionOtoplusFeatured {
    height: 18px !important;
    font-size: 10px !important;
    border:0 !important
}

.cardPrice {
    font-size: 20px !important;
    font-weight: 700 !important;
}

.cardFooter {
    padding-right: 10px;
    padding-left: 10px;
}