* {
    margin: 0;
}

body{
    font-family: "Open Sans";
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

#footer-head {
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}

#footer-content {
    color: #2c2c2c;
    font-size:12px;
    margin-top: 10px;
    margin-bottom: 35px;
    padding-left: 0px;
    list-style-type: none;
}

#footer-content li {
    margin-bottom: 6px;
}

#footer-content a {
    color: #ccc;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    flex: none;
    margin-bottom: 20px !important;
}

#footer-bottom-content {
    display: flex;
    list-style-type: '-';
    padding-left:4px;
    padding-right: 1px;
    margin-bottom: 15px;
}
#footer-bottom-content > li {
    flex: 1;
    font-size:12px;
    color: #ffffff;
    font-weight: 400;
    max-width: 115px;
}
@media only screen and (max-width:991px) {}
@media only screen and (max-width:600px) {
    #footer-content li {
        margin-bottom: 20px;
    }
}
